<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>게시판</title>
    <style>
        table { border: 1px solid black; border-collapse: collapse; }
        table th, table td { border: 1px solid black; }
        #subject{text-align: center;}
        #writer{text-align: center;}
    </style>
</head>
<body>
    {{luser.userid}}({{luser.name}}) 님 어서오세요 &nbsp; 

    <input type="button" value="회원정보수정" 
        onClick="location.href='/members/updateForm/{{luser.userid}}'">

    <input type="button" value="로그아웃" 
        onClick="location.href='/members/logout/'">

    <input type="button" value="글쓰기" onClick="location.href='/boards/writeForm'">
    <br><br>
    <table id="board-list" align="center">
        <thead>
            <tr>
                <th width="100">번호</th>
                <th width="400">제목</th>
                <th width="100">작성자</th>
                <th width="100">조회수</th>
            </tr>
        </thead>
        <tbody><tr><td></td><td></td><td></td></tr></tbody>
    </table>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/main.js"></script>

</body>
</html>