<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
</head>
<body>
    <div>
        <form id="join-form">
            <fieldset>
                <legend>회원가입 - 사용자 등록</legend>
                <div><input id="userid" type="text" placeholder="userid"></div>
                <div><input id="pwd" type="password" placeholder="password"></div>
                <div><input id="name" type="text" placeholder="name"></div>
                <div><input id="phone" type="text" placeholder="phone"></div>
                <div><input id="email" type="text" placeholder="email"></div>
                <button type="submit">등록완료</button>
            </fieldset>
        </form>
    </div><br>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/addmember.js"></script>
</body>
</html>